* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body{
	// font-size: 0;
	// font-family: 'Guardian-egyptt','Georgia',serif;
	// margin: 0;

	img{
		max-width: 100%
	}

	.align-children{
		font-size: 0;
	}

	.align-children > *{
		display: inline-block;
		font-size: medium;
		vertical-align: top;
	}
}




.mktContainer{
	border: solid 3px purple;
}

.itemContainer{
	border: solid 3px blue;
}